body {
  background: #f2f2f2;
  font-family: Raleway;
  margin: 0;
  padding: 0;
  line-height: 24px; }

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 100px;
  height: 100px;
  border: 16px solid #004e5a;
  border-top: 16px solid #29ffbb;
  border-radius: 50%;
  display: none;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.brand-logo {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(25%, 10%);
  -moz-transform: translate(25%, 10%);
  -ms-transform: translate(25%, 10%);
  -o-transform: translate(25%, 10%);
  transform: translate(25%, 10%);
  height: 60px; }

a {
  color: #00c284; }
  a:hover {
    color: #29ffbb; }

.navbar-default .navbar-nav li a {
  color: #1a1a1a; }
  .navbar-default .navbar-nav li a:hover {
    text-decoration: underline;
    color: #00a6c0; }
.navbar-default .navbar-nav li .ctaContact {
  background-color: #fbb03b;
  color: #004e5a;
  border-radius: 5px; }
  .navbar-default .navbar-nav li .ctaContact:hover {
    background-color: tint(#fbb03b, 10%);
    color: #00a6c0; }

.ctaHeader {
  font-family: Engagement;
  font-size: 84px;
  color: #fbb03b;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin: 30% 30%;
  -moz-perspective-origin: 30% 30%;
  perspective-origin: 30% 30%;
  margin-top: nll;
  margin-bottom: 20px; }

.navContainer {
  padding: 10px 10px; }
  .navContainer i {
    margin: auto 10px; }
  .navContainer .nav-icon {
    color: #004e5a; }

.mobile-nav-toggle {
  cursor: pointer;
  display: none; }
  .mobile-nav-toggle .bar-top,
  .mobile-nav-toggle .bar-center,
  .mobile-nav-toggle .bar-bottom {
    width: 35px;
    height: 5px;
    background-color: #004e5a;
    margin: 6px 0;
    transition: 0.4s; }

.mobile-nav-toggle .bar-top.activated {
  -webkit-transform: rotate(-45deg) translate(-10px, 15px);
  -moz-transform: rotate(-45deg) translate(-10px, 15px);
  -ms-transform: rotate(-45deg) translate(-10px, 15px);
  -o-transform: rotate(-45deg) translate(-10px, 15px);
  transform: rotate(-45deg) translate(-10px, 15px); }
.mobile-nav-toggle .bar-center.activated {
  opacity: 0; }
.mobile-nav-toggle .bar-bottom.activated {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.mobile-nav-toggle .bar-top:hover, .mobile-nav-toggle .bar-bottom:hover {
  box-shadow: 2px 1px 2px #00a6c0; }

#back-to-top {
  position: fixed;
  color: #00c284;
  top: 89%;
  right: 3%;
  font-size: 40px;
  z-index: 100;
  margin-bottom: 2px; }
  #back-to-top:hover {
    color: #29ffbb; }

#Landing {
  padding-top: 50px;
  color: #f2f2f2;
  background-image: url("../assets/bw_skyline.jpg");
  background-color: #0e5f94;
  background-color: #004e5a;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 100vh; }
  #Landing hgroup {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0; }
    #Landing hgroup h1 {
      font-size: 108px;
      margin-bottom: 40px; }

#About {
  background-color: #f2f2f2;
  height: 60vh; }

#Education {
  background-color: #004e5a;
  background-image: url("../assets/book_and_pen.jpeg");
  background-blend-mode: multiply;
  background-repeat: none;
  background-size: cover;
  color: #f2f2f2;
  height: 35vh;
  text-align: center;
  position: relative;
  width: 100%; }

.undergrad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#Experience {
  background-color: #00c284;
  height: 100vh; }
  #Experience .jobContainer {
    padding: 0;
    height: 100%; }
    #Experience .jobContainer .job {
      padding: 10px;
      height: 100%; }
      #Experience .jobContainer .job .job-title {
        margin-bottom: 50px; }
      #Experience .jobContainer .job .job-description {
        height: 100%;
        display: none; }
  #Experience .active-job:hover {
    background: #59d7af;
    box-shadow: 0 0 1em #29ffbb;
    transition: background 0.25s linear; }
  #Experience .active-job-desc {
    color: #1a1a1a;
    font-size: medium;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0; }
    #Experience .active-job-desc li {
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto; }
  #Experience #prev-job-1 {
    background: #009263; }
    #Experience #prev-job-1:hover {
      background: #59d7af;
      transition: background 0.25s linear; }
  #Experience #prev-job-2 {
    background: #007e56; }
    #Experience #prev-job-2:hover {
      background: #33ce9d;
      transition: background 0.25s linear; }
  #Experience h1 {
    font-family: AbrilFatFace;
    font-size: 60px;
    color: #f2f2f2; }

.job-ellipses {
  position: absolute;
  left: 50%;
  top: 290%; }
  .job-ellipses i {
    color: #1a1a1a; }
    .job-ellipses i:hover {
      color: #00a6c0; }

#SkillsandProjects {
  background-color: #f2f2f2;
  background-image: url();
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  height: 100vh; }
  #SkillsandProjects .SkillsandProjectsContainer {
    position: relative; }
  #SkillsandProjects .project-highlight {
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px; }
  #SkillsandProjects .project-wrapper {
    background-color: #343434;
    padding: 20px; }
  #SkillsandProjects .project-bg {
    background-image: url("../assets/bw_skyline.jpg");
    background-size: cover;
    background-position: center;
    background-color: #004e5a;
    background-blend-mode: multiply;
    height: 200px;
    text-align: center;
    position: relative; }
  #SkillsandProjects .project-name {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto; }
  #SkillsandProjects .project-information {
    padding: 20px;
    background-color: white; }
  #SkillsandProjects .project-link {
    color: #00c284;
    text-decoration: none;
    padding: 10px;
    width: 100%; }
    #SkillsandProjects .project-link:hover {
      color: #29ffbb; }

#Contact {
  background-color: #004e5a;
  background-image: url("../assets/ask_more_questions_dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }
  #Contact:hover {
    color: #29ffbb; }
  #Contact a {
    text-decoration: none; }
    #Contact a h1:hover {
      color: #fcc062; }

footer {
  margin-top: 70px; }

#site-map {
  color: #00c284;
  margin-top: 25px; }
  #site-map:hover {
    color: #29ffbb; }

.soc-media-icons {
  color: #00c284;
  text-decoration: none;
  padding: 0 20px; }
  .soc-media-icons:hover {
    color: #29ffbb; }

@media screen and (max-width: 768px) {
  .ctaHeader {
    font-size: 42px; }

  #Landing .ctaHeader {
    font-size: 84px; }

  #Landing h3 {
    font-size: 18px; }

  #Landing h4 {
    font-size: 14px; }

  #About,
  #SkillsandProjects {
    height: auto; }

  .about-me-img {
    position: relative;
    left: 12.5%;
    margin-bottom: 10px; }

  #Experience .jobContainer .job .job-description, #Experience .jobContainer .job .active-job-desc {
    display: inline-block;
    position: inherit;
    font-size: 14px; }

  .job-ellipses {
    display: none; }

  #SkillsandProjects {
    height: auto; } }
@media screen and (max-width: 992px) {
  .mobile-nav-toggle {
    display: block; }

  .menu {
    display: none; }

  .navbar-header {
    float: left !important; }

  #Experience {
    height: auto; }

  .active-job-desc {
    position: relative; }

  .jobContainer {
    height: inherit; }

  .job-ellipses {
    display: none; }

  #SkillsandProjects {
    height: auto; } }

/*# sourceMappingURL=main.css.map */
